@import "costs.scss";

body {
    font-size: 2rem;
    margin: 0 auto;
}

flex{
    display: flex;
    min-height: 100%;
}

main{
    width: 100%;
    background: #FAEBD7;
}

h1{
    //margin_left: 10px;
    padding: 1rem 2rem;
    border-left: 5px inset #dcdcdc;
    background: #fffaf0;
    
    text-align: center;
    color: #a9a9a9;
    text-decoration:underline;
    text-decoration-color: #a9a9a9;
    font-size: 1.5rem;
}

h1 > a{
    color: #a9a9a9;
    text-decoration:underline;
    text-decoration-color: #a9a9a9;
}

h2{
    //margin_left: 10px;
    padding: 1rem 2rem;
    border-left: 5px inset #dcdcdc;
    background: #fffaf0;
    font-size: 2rem;
}

//askの購入ボタン

.button1 > a{
    text-decoration: none;
    color: #FFF;
}

.buttonedit{
    justify-content: space-around;
    display: flex;
}
.button1 {
  display: inline-block;
  padding: 0.5em 1em;
  background: #FFBBAE;/*ボタン色*/
  border-bottom: solid 4px #FF856E;
  border-radius: 3px;
}
.button1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.button2 > a{
    text-decoration: none;
    color: #FFF;
}
.button2 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #77A798;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #2f6143;
  border-radius: 3px;
}
.button2:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

//他のボタン
input[type="submit"]{
    text-decoration: none;
    font-size: 1.2rem;
    color: #FFF;
    display: inline-block;
    padding: 0.5em 1em;
    background: #FFBBAE;/*ボタン色*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 4px #FF856E;
    border-radius: 3px;
}
.button3:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.button3{
    text-align: center;
    margin_top: 10px;
}

header {
    background: #FFBBAE;
    text-align: center;
}

sidebar {
    margin: 0;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
    background: #FFBBAE;
}
aside {
    width: 20%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
}

.link > .button_to > input {
  border: none;
  background: none;
  color: #FFF;
  font-size: 1.5rem;
  outline: none;
}

input[type="text"]:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

input[type="text"],
textarea {
    margin-top: 0px;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    font-size: 1rem;
    width: 80%;
    
    -webkit-border-radius: 3px;/*ブラウザ対応*/
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="password"]:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

input[type="password"],
textarea {
    margin-top: 0px;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    font-size: 16px;
    width: 80%;
    
    -webkit-border-radius: 3px;/*ブラウザ対応*/
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.costs{
    text-align: center;
}

.center{
    text-align: center;
}

.cardname{
    text-align: center;
    //padding-bottom: 0.5em;
}

.costlabel{
    margin-left: 10%;
    margin_bottom: 0px;
    font-size: 1rem;
    background: #FFBBAE;
    color: #FFF;
}

.resizeimage {
    max-width: 200px; /* 最大幅 */
    min-width: 50px; /* 最小幅 */
    margin: auto;
}
.resizeimage img { width: 100%; }

.homeimage {
    vertical-align: middle;
    max-width: 40px; /* 最大幅 */
    min-width: 20px; /* 最小幅 */
    margin-left: 5%;
    padding-top: 10px;
    display: inline-block;
    
}

.headerimage {
    vertical-align: middle;
    max-width: 400px; /* 最大幅 */
    min-width: 200px; /* 最小幅 */
    
}

.homeimage img { width: 100%; }

homelink > a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.status{
    font-size: 1.5rem;
    background: #FFBBAE;
    color: #FFF;
    display: inline-block;
}

.line:first-child {
	border-top-style: solid;
	border-top-color: #dcdcdc;
}

.line{
    border-bottom-style: solid;
    border-bottom-color: #dcdcdc;
    margin-left: 10%;
    margin-right: 10%;
}
/*
div {
    margin-top: auto;
    height: 300px;
}*/

/* 🍔 */
.open,
.close {
    display: none;
}
input[type="checkbox"] {
    position: absolute;
    left: -50vw;
}

/* 🍔 */

@media screen and (max-width: 1000px) {
    /*main {
        width: 100%;
        padding-top: 50px;
    }*/
    /* 🍔 */
    .open,
    .close {
        display: block;
    }
    .open {
        position: absolute;
    }
    aside {
        position: absolute;
        left: -250px;
        height: 100%;
        transition: all 0.2s;
        background: #FFBBAE;
    }
    input[type="checkbox"]:checked ~ aside {
        left: 0;
    }
    input[type="checkbox"]:checked ~ .back {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8) !important;
    }
    /* 🍔 */
}