body {
    font-size: 2rem;
    //width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template:
        "header header header header" 150px
        "left center center center" 1fr
}
header {
    grid-area: header;
}
main {
    grid-area: center;
}
sidebar {
    grid-area: left;
}

div.button {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template:
            "header" 150px
            "center" 1fr
            "left"
    }
}