<%= render 'layouts/header' %>
<flex>
    <%= render 'layouts/sidebar' %>

    <main>
        <h2>StockCardとは</h2>
        <div class="stockcardimage"><%= image_tag "whatisstockcard.png" %></div>
    </main>
</flex>